

.h-1 {
  height: 8px;
}

.h-2 {
  height: 16px;
}

.h-3 {
  height: 24px;
}

.h-4 {
  height: 32px;
}

.h-5 {
  height: 40px;
}

.h-6 {
  height: 48px;
}

.h-7 {
  height: 56px;
}

.h-8 {
  height: 64px;
}