/* ヘッダー */

.header {
  display: flex;
  width: 100%;
  height: fit-content;
  margin: 0;
  padding: 0;
  flex-direction: row;
  background-color: transparent;
}

.header * {
  color: white;
}

.header-title {
  display: flex;
  margin: 32px 0;
  padding: 0 24px;
  font-size: 32px;
}