/* body */

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  background-color: var(--primary-bg);
  color: var(--aq-text-main);
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

body * {
  box-sizing: border-box;
}